<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changing Password</title>

    <style>
        div {text-align: center;}
        </style>
</head>
<body>
    <div>
        <h1>Change Password</h1>

    <form action="" method="POST" novalidate> {% csrf_token %}

        {% for form in forms %}
        {{form.label_tag}} {{form}} {{form.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Change">
    </form><br>

    <a href="{% url 'profile_url' %}"> Profile </a><br>
    <a href="{% url 'logout_profile' %}"> Logout </a><br>

    </div>
</body>
</html>