<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        .warning{
            color: red;
        }
        div {text-align: center;}

    </style>
</head>
<body>
<div>
    <h1>Login</h1>
    <form action="" method="POST" novalidate> {% csrf_token %}

        {% if login_form.non_field_errors %}
        {% for error in login_form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}
        <br>
        <br>
        {% for form in login_form %}
        {{form.label_tag}} {{form}} {{form.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    <br>

    {% if messages %}
    {% for mg in messages %}
     <span class="warning"> {{mg}}

    </span>
    {% endfor %}
    {% endif %}
    <br>
    <a href="{% url 'singup_url' %}"> Singup </a>
</div>

</body>
</html>