<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>

    {% if name %}

    <h2>Hello {{name}}, Welcome to your profile.</h2>
    {% endif %}

    {% if messages %}
    {% for mg in messages %}
    {{mg}}
    {% endfor %}
    {% endif %}
    <br>
    <form action="" method="POST" novalidate> {% csrf_token %}

        {% if form.non_field_errors %}       
        {% for errors in form.non_field_errors %}
        <p>{{errors}}</p>
        {% endfor %}
        {% endif %}

        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}

        <input type="submit" value="Submit">
        
    </form>


    
    <a href="{% url 'logout_profile' %}"> Logout </a><br>
    <a href="{% url 'changing_password' %}"> Change your password </a><br>


    
</body>
</html>